################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
yixiemeiyong d dx 
################################################################################

/project.VC.VC.opendb
*.VC.db
*.exe
/project/Debug/
/Debug/